body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 36, 138);
    padding: 16px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.hlinks {
    margin-left: auto;
    margin-right: auto;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    background-color: navy;
    margin: 0;
    color: white;
    gap: 100px;
    padding: 16px;
}

.intro .text {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: auto;
    
    font-size: 24px;
    
}

.text {
    display: flex;
    
}

.close {
    background-color: white;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 12px;
    font-size: 18px;
    border: 0;
}

.intro-photo {
    height: 500px;
    border: 3px solid white;
    border-radius: 8px;
    margin-right: auto;
}

h1 {
    padding: 0;
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:azure;
    padding: 64px;
}

.info h2 {
    font-size: 32px;
}

.photos {
    display: flex;
    gap: 48px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section img {
    max-height: 250px;
    border: 3px solid black;
    border-radius: 8px;
}

.section p {
    max-width: 100px;
    text-align: center;
    color: dimgrey;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 24px;
    background-color: ghostwhite;
    padding: 64px;
}

.quote .content {
    font-size: 48px;
    font-weight: 100;
    font-style: italic;
}

.quote .speaker {
    font-weight: 600;
    text-align: right;
    width: 500px;
    font-size: 18px;
}

.quote p {
    padding: 0;
    margin: 0;
}

.footer {
    background-color: rgb(36, 36, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 12px;
    font-size: 12px;
}