body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 36, 138);
    padding: 16px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.hlinks {
    margin-left: auto;
    margin-right: auto;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.intro .text {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    display: flex;
    
}

.close {
    background-color: white;
    color: black;
    width: 50px;
    text-align: center;
}

.intro-photo {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}